{% extends 'main/base.html' %}


{% block title %}
ABOUT US
{% endblock %}

{% block content %}

<!-- Start Header/Navigation -->
{% include 'main/components/header-nav.html' %}
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
{% include 'main/components/sections/hero.html' %}
<!-- End Hero Section -->

<!-- Start Why Choose Us Section -->
{% include 'main/components/sections/choose-us.html' %}
<!-- End Why Choose Us Section -->

<!-- Start Team Section -->
{% include 'main/components/sections/team.html' %}
<!-- End Team Section -->

<!-- Start Testimonial Slider -->
{% include 'main/components/slider.html' %}
<!-- End Testimonial Slider -->

<!-- Start Footer Section -->
{% include 'main/components/footer.html' %}
<!-- End Footer Section -->


{% endblock %}