{% extends 'main/base.html' %}


{% block title %}
FAVORITES
{% endblock %}

{% block content %}

<!-- Start Header/Navigation -->
{% include 'main/components/header-nav.html' %}
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
{% include 'main/components/sections/hero.html' %}
<!-- End Hero Section -->

<!-- Start Favorites Components -->
{% include 'main/components/favorites-table.html' %}
<!-- End Favorites Components -->

<!-- Start Footer Section -->
{% include 'main/components/footer.html' %}
<!-- End Footer Section -->

{% endblock %}


{% block scripts %}

<!-- Start Shop JS -->
<script src="{{ url_for('static', path='/shop/assets/js/favorites.js') }}"></script>
<!-- End Shop JS -->

{% endblock %}