{% extends 'main/base.html' %}


{% block title %}
SERVICES
{% endblock %}

{% block content %}

<!-- Start Header/Navigation -->
{% include 'main/components/header-nav.html' %}
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
{% include 'main/components/sections/hero.html' %}
<!-- End Hero Section -->

<!-- Start All Choose Section -->
{% include 'main/components/sections/all-choose.html' %}
<!-- End All Choose Section -->

<!-- Start Product Section -->
{% include 'main/components/sections/why-you-choose-us-products.html' %}
<!-- End Product Section -->

<!-- Start Testimonial Slider -->
{% include 'main/components/slider.html' %}
<!-- End Testimonial Slider -->

<!-- Start Footer Section -->
{% include 'main/components/footer.html' %}
<!-- End Footer Section -->

{% endblock %}


