<div class="container">
  <div class="row mb-5">
    <form class="col-md-12" method="post">
      <div class="site-blocks-table">
        <table class="table" style="font-size: 25px;">
          <thead>
            <tr>
              <th class="product-thumbnail">Image</th>
              <th class="product-name">Product</th>
              <th class="product-price">Price</th>
              <th class="product-price">Remove</th>
            </tr>
          </thead>
          <tbody class="content">
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>