<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

                <div class="row my-5">
                    {% include 'main/components/generate-choose.html' %}
                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{{ url_for('static', path='/shop/assets/images/why-choose-us-img.jpg') }}" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>