<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 order-2 order-lg-1 pt-5 pt-lg-0">
                <a style="margin-bottom: 30px;" class="btn btn-custom-size xl-size btn-pronia-primary" id="clear">Clear Filters</a>
                <div class="sidebar-area">
                   <div class="widgets-searchbox" style="background-color: #f6f7fb; border-radius: 10px; position: relative; margin-bottom: 40px; padding: 30px;">
                        <form id="search">
                            <input class="input-field" type="text" id="q" placeholder="Search" style="border: 1px solid #dee2e6; background-color: #f6f7fb; border-radius: 10px; width: 100%; height: 45px; line-height: 45px; padding-left: 15px; padding-right: 55px; color: #000000;">
                            <button class="widgets-searchbox-btn" type="submit" style="background-color: transparent; border: 0; position: absolute; top: 50%; right: 20px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); padding-left: 20px; padding-right: 20px; color: #cfcfcf;">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                   </div>
                </div>
            </div>
            <!-- Products -->
            <div class="col-xl-9 col-lg-8 order-1 order-lg-2" id="shop-content" style="display: flex; flex-wrap: wrap;"></div>
        </div>
    </div>
</div>